extends ../layout

block content
  if notConfigured
    div.alert.alert-error
      span Mail is not configured.#{' '}
      a(href="/admin/mailconf") Click here
      span #{' '}to configure.

  div.row-fluid
      div.span5.writer
          form(method="post", action="/admin/mail", id="mailForm")
            fieldset

              h3 Send mail

              div.control-group
                label(name="to").control-label to
                input(name="to", placeholder="receiver@mail.com").input-xlarge.title
              div.control-group
                label(name="subject").control-label title
                input(name="subject").input-xlarge.title
              div.control-group
                label(name="body").control-label body
                textarea(id="body", name="body", rows="15").input-xlarge.textbody
              div
                input(type="submit", name="submit", value="Send").btn-primary

  script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js")
  script(type="text/javascript", src="/bootstrap/js/bootstrap.js")

  script(type="text/javascript", src="/scripts/mail.js")
