extends ../layout

block content
  if notConfigured
    div.alert.alert-error!= messages.notConfigured

  div.row-fluid
      div.span5.writer
          form(method="post", action="/admin/mail", id="mailForm")
            fieldset

              h3= messages.pageTitle

              div.control-group
                label(name="to").control-label= messages.to
                input(name="to", placeholder=messages.toExample).input-xlarge.title
              div.control-group
                label(name="subject").control-label= messages.title
                input(name="subject").input-xlarge.title
              div.control-group
                label(name="body").control-label= messages.body
                textarea(id="body", name="body", rows="15").input-xlarge.textbody
              div
                input(type="submit", name="submit", value=messages.send).btn-primary

  script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js")
  script(type="text/javascript", src="/bootstrap/js/bootstrap.js")

  script(type="text/javascript", src="/scripts/sprintf.js")
  script(type="text/javascript", src="/scripts/i18n.js")
  script(type="text/javascript", src="/scripts/mail.js")
