extends adminLayout

block prepend nav
  selected = 'mail'

block content
  form(method="post", action="/admin/mail", id="mailForm").span9.form-horizontal
    div.page-header
      h1= __('Send mail')
    if notConfigured
      div.alert.alert-error!= __("Mail is not configured. <a href='%s'>Click here</a> to configure.", urls.mailConf)
    div.control-group
      label(name="to").control-label= __('To')
      div.controls
        input(name="to", placeholder=__('receiver@mail.com')).input-xlarge.title
    div(style="margin-right: 10px").control-group
      label(name="subject").control-label= __('Subject')
      div.controls
        input(name="subject")
    div(style="margin-right: 10px").control-group
      label(name="body").control-label= __('Body')
      div.controls
        textarea(id="body", name="body", cols=32, rows="16").input-xlarge.textbody
    div
      button(type="submit").btn.btn-primary
        strong= __('Send')

block prepend script
  script(type="text/javascript", src="/scripts/jquery.js")
  script(type="text/javascript", src="/bootstrap/js/bootstrap.js")
  script(type="text/javascript", src="/scripts/sprintf.js")
  script(type="text/javascript", src="/scripts/i18n.js")
  script(type="text/javascript", src="/scripts/mail.js")
