h1= title
form(method="post", action="/wikis/note/pages")
    label(name="name") title
    input(name="name", value=name)
    br
    label(name="body") body
    textarea(name="body")= content
    br
    input(type="submit", name="submit")
