!!!5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/syntax.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/codemirror2/lib/codemirror.css')
  body
      div
      - if (loginMessage)
          p
              span.label.label-important= loginMessage

        block content
      script(src='/scripts/html5shiv.js')