!!!5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/syntax.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      div
      - if (message)
          p
              span.label.label-important= message

        block content
