h1 Syntax Cheatsheet
dl
  dt Headers
  dd # Header 1
    br
    = '###### Header 6'
  dt Lists
  dd 1. Ordered item
  dd * Unordered item
  dt Phrase Emphasis
  dd *italic* | **bold**
  dt Links
  dd [example](http://url.com/)
  dt Code Spans
  dd '''inline code'''
  dt Preformatted Code Blocks
  dd
    i &nbsp;
    i &nbsp;
    i &nbsp;
    i &nbsp;
    = '4 spaces or 1 tab.'
  dt Blockquotes
  dd &gt; Quotation block
  dt Images
  dd ![alt text](/path/img.jpg)
  dt Horizontal Rules
  dd ---
  dt Manual Line Breaks
  dd End a line with two or more spaces.
    i &nbsp;
    i &nbsp;
p.more
  i
  a(href="http://daringfireball.net/projects/markdown/syntax", target="_blank")= __('show more details')
button(type='button', title=__('Close markdown help')).close &times;
i.ar