extends layout

block content
  header
    div.page-header
      h1= title

  div.row-fluid
      div.span5.writer
          form(method="post", id='newpost', action="/wikis/note/pages")
            fieldset
              div.control-group
                label(name="name").control-label title
                div.controls
                  input(id="title", name="name").input-xlarge.title
              div.control-group
                label(name="body").control-label body
                div.controls
                  textarea(id="body", name="body", rows="15").input-xlarge.textbody
              div
                input(type="submit", value="새 페이지 등록").btn-primary
          div
            form(method="post", id='fileupload', enctype="multipart/form-data", multiple="multiple", action="/wikis/note/pages/#{pageName}/attachment.partial")
              label(for="attachment") 첨부할 파일을 선택해 주세요
              input(type='file', name='attachment', id='attachment')
              input(type="submit", value="첨부").btn-primary
          div.progress.progress-warning
            div#progressbar.bar
          div#alert.alert.alert-error.fade.out.hide
            h4.alert-heading 업로드할 파일을 선택해 주세요
          div
            table.table.table-bordered.table-condensed
                thead
                    tr
                        th(colspan=2) 첨부 파일
                tbody#filelist
                    if filelist == ''
                        tr
                            td(colspan=2) 첨부 파일이 없습니다.

      div(id="preview").previewer.span6
      div(id="result")

  script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js")
  script(type="text/javascript", src="http://malsup.github.com/jquery.form.js")
  script(type='text/javascript', src="http://documentcloud.github.com/underscore/underscore.js")
  script(src='/bootstrap/js/bootstrap.js')
  script(type="text/javascript")
    $(function(){
          //JQuery Extension code for insertAtCaret
          $.fn.extend({
            insertAtCaret: function(myValue){
              var obj;
              if( typeof this[0].name !='undefined' ) obj = this[0];
              else obj = this;

              if ($.browser.msie) {
                obj.focus();
                sel = document.selection.createRange();
                sel.text = myValue;
                obj.focus();
                }
              else if ($.browser.mozilla || $.browser.webkit) {
                var startPos = obj.selectionStart;
                var endPos = obj.selectionEnd;
                var scrollTop = obj.scrollTop;
                obj.value = obj.value.substring(0, startPos)+myValue+obj.value.substring(endPos,obj.value.length);
                obj.focus();
                obj.selectionStart = startPos + myValue.length;
                obj.selectionEnd = startPos + myValue.length;
                obj.scrollTop = scrollTop;
              } else {
                obj.value += myValue;
                obj.focus();
              }
            }
          });

          //JQuery Extension code for selectRange
          $.fn.selectRange = function(start, end) {
              return this.each(function() {
                  if (this.setSelectionRange) {
                      this.focus();
                      this.setSelectionRange(start, end);
                  } else if (this.createTextRange) {
                      var range = this.createTextRange();
                      range.collapse(true);
                      range.moveEnd('character', end);
                      range.moveStart('character', start);
                      range.select();
                  }
              });
          };

          //Insert attachments into contents textarea
          var imageExtensions = ["jpg","png","gif"];
          $('.insertInto').live("click",function(){
              var filename = $(this).siblings('input').val();
              var filetype = filename.substring(filename.lastIndexOf('.') + 1);

              if ( _.include(imageExtensions, filetype) ){
                filename = '<img src="/attachment/#{pageName}/' + filename + '">'
              } else {
                filename = '/attachment/#{pageName}/' + filename
              }

              $('#body').insertAtCaret(filename);
              preview();
          });
      })

  script(type="text/javascript")
    // for using highlight.js both server and client
    var module = module || {}; //This prevents error on 'module.exports' statements
  script(type="text/javascript", src="/scripts/highlight.js")
  script(type="text/javascript", src="/scripts/highlight-c.js")
  script(type="text/javascript", src="/scripts/showdown.js")
  script(type="text/javascript", src="/scripts/preview.js")
  script(type="text/javascript", src="/scripts/newpage.js")
  script(type="text/javascript", src="/scripts/draft.js")
  script(type="text/javascript")
    initDraft('n4wiki-new', '#newpost', ['#title', '#body']);
