h1= title
form(method="post", action="/wikis/note/pages")
    label(name="name") title
    input(name="name")
    br
    label(name="body") body
    textarea(id="body", name="body")
    br
    input(type="submit", name="submit")
div(id="preview")

script(type="text/javascript", src="/scripts/preview.js")
