extends layout

// BODY
block content
  - urlToWiki  = joinPath('/wikis', wikiName)
  - urlToNewPages = joinPath('/wikis', wikiName, 'new')

  article.article
    hgroup.page-header
      h1 작성된 노트가 없습니다.
      form(action=urlToNewPages).inline
        menu.btn-group
          input(type="submit", value=__('New'), name="submit").btn.btn-info

    // Text
    article.tx 새 노트를 작성해 주세요 :)

  script(type="text/javascript", src="/scripts/jquery.js")
  script(type="text/javascript", src="/scripts/keynavi.js")
  script(type="text/javascript").
    activateEditKey();
    activateNewKey('#{urlToWiki}/new');
