div.page-header
  h1= title

div.row
  div.span12 
    != content

div.btn-group
  a(href='/wikis/note/new').btn New
  a(href="?").btn View
  a(href="?action=edit").btn Edit
  a(href="?action=history").btn History

  form(method="post", action="/wikis/note/delete/"+title)
    input(type="submit", value="delete", name="submit").btn
