h1= title
div!= content
ul
  li
    a(href="?") View
  li
    a(href="?action=edit") Edit
  li
    a(href="?action=history") History
form(method="post", action="/wikis/note/delete/"+title)
    input(type="submit", value="delete", name="submit")
