extends layout

block content
  div.page-header
    h1= __('Searching result')

  ul
    each content, name in pages
      li
        a(href="/wikis/#{wikiName}/pages/#{name}")= name
        p!= content
