extends layout

block content
  div.page-header
    h1= __('Searching result')

  form.well
    input(name="keyword").search-query
    input(type="hidden", name="action", value='search').btn
    input(type="submit", value=__('Search')).btn
  ul
    each content, name in pages
      li
        a(href="/wikis/#{wikiName}/pages/"+name)= name
        p!= content
