h1= title
form(method="post", action="/wikis/note/users")
    label(name="name") 이름
    input(name="name")
    label(name="id") id
    input(name="id")
    label(name="email") email
    input(name="email")
    label(name="password") password
    input(name="password", placeholder="4자리 이상으로 입력해 주세요.")
    input(type="submit", name="submit")

