.matched {
    background-color: #DFD;
}

.title, .textbody {
    width: 100%;
}

.
.writer {
    float: left;
    position: fixed;
}

.previewer {
    left-margin: 20px;
}

img {
    height: auto;
    max-width: 100%;
}

.CodeMirror {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.inline {
    display: inline;
}

.no-margin {
    margin: 0px;
}
